/* For tablet screens */
@media (max-width: 1023px) {
  header h1 {
    font-size: 2rem;
  }
  .hero-content {
    padding: 1rem 1.5rem;
    height: fit-content;
  }

  .hero-content h3 {
    font-size: max(1.2rem, 3.5vw);
    padding: 0.5rem;
  }
  .text-animate {
    font-size: max(1rem, 2.5vw);
  }
  #exp-brought {
    margin: 0;
    font-size: max(1rem, 2vw);
  }
  .hero-button-container {
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    margin: max(1.5rem, 3vw);
  }
  .hero-button-container a {
    font-size: 0.9rem !important;
    padding: 0.3rem !important;
  }

  .hero {
    padding-bottom: 10rem;
  }

  .hero-portrait {
    border-bottom-left-radius: 1rem;
  }

  .personal-summary {
    position: absolute;
    top: 25.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--border-gray);
    padding: 1rem;
    border-radius: 1rem;
    width: 80%;
  }

  section:not(.hero),
  footer {
    padding: 3rem 0;
  }

  .about-me-heading-container {
    width: 80%;
  }

  .about-me-content-container {
    align-items: flex-start;
    gap: 1.5rem;
  }

  .about-me-content {
    width: 70%;
  }

  .about-me-portrait {
    width: 12rem;
  }

  .ruler .icon {
    width: 2rem;
  }

  .resume-container-left-side > .experience {
    margin: 0;
    gap: 0;
    box-shadow: none;
    padding-right: 1rem;
  }

  .resume-container-right-side > .experience {
    margin: 0;
    gap: 0;
    box-shadow: none;
    padding-left: 1rem;
  }

  .experience > div {
    display: block;
  }

  .experience > div h4 {
    margin-bottom: 0.5rem;
  }

  /* Contact Section */
  .contact-container {
    width: 90%;
  }

  .contact-content h2 {
    font-size: 1.5rem;
    width: 25rem;
  }

  .contact-img img {
    height: 15rem;
    max-width: 50rem;
  }

  footer {
    padding-bottom: 0;
  }

  .footer-item-bottom {
    position: relative;
    background-color: transparent;
  }
}
/* Resume container shrink or tablet & phones*/
@media (max-width: 820px) {
  .resume-container-left-side > .experience,
  .resume-container-right-side > .experience {
    margin: 0;
    gap: 0;
    box-shadow: none;
    padding-right: 1rem;
    width: 100%;
    border: 1px solid 0;
  }

  .resume-container-right-side {
    position: absolute;
    width: 90vw;
    margin: 2rem;
    top: 4rem;
    left: -3rem;
    padding-right: 2rem;
  }

  .resume-container-left-side {
    width: 100%;
    margin: 0.5rem;
    margin-bottom: 19rem;
    border: none;
  }

  .resume-container {
    padding: 1rem 1rem 1rem 1.5rem;
    position: relative;
  }
}
/* Mobile devices */
@media screen and (max-width: 576px) {
  .fa-bars {
    display: block;
  }
  nav ul {
    display: none;
  }
  nav .fa-bars {
    display: block;
  }
  .logo > img {
    width: 2rem;
    height: 2rem;
  }
  section:not(.hero) {
    padding: 2rem 0 !important;
  }
  header h1 {
    font-size: 1.3rem;
  }

  .hero {
    flex-direction: column-reverse;
    height: fit-content;
    padding: 0;
  }

  .hero-portrait {
    width: 100%;
    border-radius: 0;
  }

  .hero-portrait > img {
    width: 100%;
    position: relative;
    bottom: -5px;
  }

  .hero-content {
    width: 100%;
  }

  .hero-content h3 {
    font-size: 1.2rem;
    width: fit-content;
  }
  .text-animate {
    animation: typing;
  }
  .hero-button-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 1rem 0;
  }

  .personal-summary {
    position: static;
    transform: translateX(5%);
    margin: 0;
    width: 95%;
    height: 9rem;
  }
  .about-me-heading-container {
    width: 90%;
  }

  .about-me-content-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .about-me-content {
    width: 100%;
  }

  .about-me-portrait {
    width: 12rem;
  }

  .about-me-sidebar {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .skill-list {
    padding: 1.5rem 0 !important;
  }
  .skill-list h3:not(li *) {
    font-size: 1.5rem !important;
  }
  .all-skills-container {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center !important;
  }

  .all-skills-container *:not(#skills-title) {
    font-size: 1rem;
  }

  .skills {
    width: 100% !important;
    gap: 1rem !important;
  }
  .cert-links-container .cert-links-container li {
    width: 100%;
  }

  .services-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
  }

  .service-item-design {
    bottom: -5rem;
    right: -3rem;
    width: 10rem;
  }

  .service-item *:not(.fa-solid) {
    font-size: 1rem;
  }

  .project-button-container ul {
    width: 95%;
    overflow-x: auto;
    justify-content: space-around;
  }

  .project-button-container button {
    padding: 0.3rem 0.4rem;
  }

  .contact-img {
    display: none;
  }

  .contact-container {
    display: block;
    padding: 0;
  }

  .contact-content {
    width: 100%;
  }

  footer {
    padding: 0;
  }
  .footer-eclipse {
    border-radius: 0;
    padding: 1rem;
  }

  .footer-item-bottom {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 0.5rem;
    align-items: center;
  }

  .social-links {
    margin-left: 0;
  }

  .social-links a {
    margin: 0.5rem;
    padding: 0;
  }
  .ruler,
  .ruler .icon {
    display: none;
    width: 2rem;
  }

  .experience > div {
    display: block;
  }

  .experience > div h4 {
    margin-bottom: 0.5rem;
  }

  section {
    overflow-x: hidden;
  }
}
